@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

@layer components {
  .my-border-spacing-x-3 {
    border-spacing: theme('spacing.2') 0px;
  }
}

/** Grid Areas  */

.grid-area-A {
  grid-area: A;
} /* .main-head   { grid-area: header; } */
.grid-area-B {
  grid-area: B;
} /* .content     { grid-area: content; } */
.grid-area-C {
  grid-area: C;
} /* .main-nav    { grid-area: nav; } */
.grid-area-D {
  grid-area: D;
} /* .side        { grid-area: sidebar; } */
.grid-area-E {
  grid-area: E;
} /* .ad          { grid-area: ad; } */
.grid-area-F {
  grid-area: F;
} /* .main-footer { grid-area: footer; }  */

/** TestLayout 

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout */

/* .grid-area-A { grid-area: A; } is .main-head   { grid-area: header; } */
/* .grid-area-B { grid-area: B; } is .content     { grid-area: content; } */
/* .grid-area-C { grid-area: C; } is .main-nav    { grid-area: nav; } */
/* .grid-area-D { grid-area: D; } is .side        { grid-area: sidebar; } */
/* .grid-area-E { grid-area: E; } is .ad          { grid-area: ad; } */
/* .grid-area-F { grid-area: F; } is .main-footer { grid-area: footer; }  */

.test-layout .wrapper {
  /* .test-layout .wrapper { */
  display: grid; /* display: grid; */
  gap: 20px; /* gap: 20px; */
  grid-template-areas:    /* grid-template-areas: */
    'A' /* "header" */
    'C' /* "nav" */
    'B' /* "content" */
    'D' /* "sidebar" */
    'E' /* "ad" */
    'F'; /* "footer"; */
}

@media (min-width: 500px) {
  .test-layout .wrapper {
    /* .test-layout  .wrapper { */
    grid-template-columns: 1fr 3fr; /* grid-template-columns: 1fr 3fr; */
    grid-template-areas:               /* grid-template-areas: */
      'A A' /* "header  header" */
      'C C' /* "nav     nav" */
      'D B' /* "sidebar content" */
      'E F'; /* "ad      footer"; */
  }
  .test-layout nav ul {
    /* .test-layout  nav ul { */
    display: flex; /* display: flex; */
    justify-content: space-between; /* justify-content: space-between; */
  }
}

@media (min-width: 700px) {
  .test-layout .wrapper {
    /* .test-layout  .wrapper { */
    grid-template-columns: 1fr 4fr 1fr; /* grid-template-columns: 1fr 4fr 1fr; */
    grid-template-areas:                    /* grid-template-areas: */
      'A A A' /* "header header  header" */
      'C B D' /* "nav    content sidebar" */
      'C B E' /* "nav    content ad" */
      'F F F'; /* "footer footer  footer" */
  }
  .test-layout nav ul {
    /* .test-layout nav ul { */
    flex-direction: column; /* flex-direction: column; */
  }
}

/** ResumeLayout  */

.resume-layout br.responsive {
  display: none; /*  Hide BR tag for narrow screens */
}

@media (min-width: 760px) {
  .resume-layout br.responsive {
    display: inline; /* Show BR tag for wider screens */
  }
}

@media (min-width: 1024px) {
  .resume-layout br.responsive {
    display: none; /* hide BR tag for very wide screens */
  }
}

.resume-layout ul {
  all: unset;
  padding: 0;
}

.resume-layout ul > li {
  margin-left: 1.5rem;
}

.resume-layout td {
  @apply pr-4;
}

/** ResumeLayout class defs  */

.resume-layout .card-section {
  @apply w-full overflow-hidden rounded-xl bg-slate-50 px-0 shadow-lg dark:bg-stone-800 dark:shadow-stone-900;
}
.resume-layout .card-section header {
  @apply m-0 p-0 pl-3 font-sans text-xl font-bold not-italic;
}

/* ResumeLayout - grid template areas */

.resume-layout .education-grid-template-areas-wrapper {
  /* all: unset; */
  display: grid;
  gap: 0em;
  grid-template-areas:
    'A'
    'B'
    'C';
}

.resume-layout .A {
  height: fit-content;
}

@media (min-width: 0px) {
  .resume-layout .education-grid-template-areas-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'A'
      'B'
      'C';
  }
}
@media print {
  .resume-layout .education-grid-template-areas-wrapper {
    grid-template-columns: 3fr 4fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'A B'
      'C B';
  }
  .resume-layout .education-grid-template-areas-wrapper li.A span {
    margin-left: 8rem;
  }
  .resume-layout .education-grid-template-areas-wrapper li.C {
    margin-top: -3rem;
  }
}

@media (min-width: 640px) {
  .resume-layout .education-grid-template-areas-wrapper {
    grid-template-columns: 3fr 4fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'A B'
      'C B';
  }
}

/* ResumeLayout - link styles */

.resume-layout a {
  color: #179d8d;
  text-decoration: underline;
  font-weight: 500;
}
