@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item::before {
  @apply hidden;
}

.task-list-item {
  @apply list-none;
}

.footnotes {
  @apply mt-12 border-t border-gray-200 pt-8 dark:border-gray-700;
}

.csl-entry {
  @apply my-5;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

@layer components {
  .my-border-spacing-x-3 {
    border-spacing: theme('spacing.2') 0px;
  }
}

/** Grid Areas  */

.grid-area-A {
  grid-area: A;
}
.grid-area-B {
  grid-area: B;
}
.grid-area-C {
  grid-area: C;
}
.grid-area-D {
  grid-area: D;
}
.grid-area-E {
  grid-area: E;
}
.grid-area-F {
  grid-area: F;
}

/** ResumeLayout  */

.resume-layout a {
  color: #179d8d;
  text-decoration: underline;
  font-weight: 500;
}

.resume-layout ul {
  all: unset;
  padding: 0;
}

.resume-layout ul > li {
  margin-left: 0.7rem;
}

.resume-layout td {
  @apply pr-3; /* spacing between colummns of table */
}

.resume-layout br.responsive {
  display: none; /*  Hide BR tag for narrow screens */
}

@media (min-width: 768px) {
  .resume-layout br.responsive {
    display: inline; /* Show BR tag for wider screens */
  }
}

@media (min-width: 1024px) {
  .resume-layout br.responsive {
    display: none; /* Hide BR tag for very wide screens */
  }
}

/** ResumeLayout class defs  */

.resume-layout .card-section {
  @apply w-full overflow-hidden rounded-xl bg-slate-50 px-0 shadow-lg dark:bg-stone-800 dark:shadow-stone-900;
}
.resume-layout .card-section header {
  @apply m-0 p-0 pl-3 font-sans text-xl font-bold not-italic;
}

/* ResumeLayout - grid template areas */

/*
.resume-layout .A { @apply border-2 border-blue-900; }
.resume-layout .B { @apply border-2 border-red-900; }
.resume-layout .B table { @apply border-2 border-red-300; }
.resume-layout .C { @apply border-2 border-green-900 top-0; } 
*/

.resume-layout .education-grid-template-areas-wrapper {
  /* all: unset; */
  display: grid;
  gap: 0em;
  grid-template-areas:
    'A'
    'B'
    'C';
  float: left;
}

.resume-layout .A {
  height: fit-content;
}

@media (min-width: 0px) {
  .resume-layout .education-grid-template-areas-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'A'
      'B'
      'C';
  }
}

@media (min-width: 640px) {
  .resume-layout .education-grid-template-areas-wrapper {
    grid-template-columns: 7fr 10fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'A B'
      'C B';
  }
  /* .resume-layout .education-grid-template-areas-wrapper .A,
  .resume-layout .education-grid-template-areas-wrapper .B,
  .resume-layout .education-grid-template-areas-wrapper .C {
    @apply inline-block align-bottom;
  } */
}

@media print {
  .resume-layout .education-grid-template-areas-wrapper {
    grid-template-columns: 3fr 4fr;
    grid-template-rows: min-content auto;
    grid-template-areas:
      'A B'
      'C B';
  }
  /* .resume-layout .education-grid-template-areas-wrapper .A .transcript-label {
    margin-left: 4rem;
  } */
  .resume-layout .education-grid-template-areas-wrapper .C {
    margin-top: -3rem;
  }
}

@media print {
  .resume-layout #printable-page {
    @apply text-[0.67rem];
  }
}
