/** Obfuscation Email and Phone (from bots) 

https://www.nelsonpires.com/development/protect-your-email-and-phone-number-from-spam-bots
 They will be displayed but not in HTML
"moc.etisbew"emos"@nhoj :liamE" RESULT-> john@somewebsite.com
"987 654 "321" 153+ :enohP" RESULT-> +351 123 456 789

As for the <a>'s href='mailto:...' and href='tel:...', see obfuscations.js */
a.nobot {
  unicode-bidi: bidi-override;
  direction: rtl;
}
a.nobot.jeff-e-mail:before {
  content: 'moc.liamg@';
}
a.nobot.jeff-e-mail:after {
  content: 'nnylyerffej';
}
a.nobot.jeff-ph-num:before {
  content: '5433-';
}
a.nobot.jeff-ph-num:after {
  content: '-237';
}
